[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

cython = "*"
numpy = "*"
scipy = "*"
scikit-learn = "*"
tslearn = "*"
ipykernel = "*"
matplotlib = "*"
pandas = "*"


[dev-packages]

